.title {
  font-size: 1.1rem;
  margin-block-start: 30px;
}

.block {
  width: 50%;
  background-color: #ddd;
  margin: 0 auto;
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.block div {
  margin-block: 2px;
}

.select {
  width: 50%;
  background-color: #ddd;
  padding-block-start: 10px;
  padding-block-end: 20px;
  margin-block-start: 10%;
  margin-inline: auto;
}

.select div {
  margin-block: 10px;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
  margin-block-start: 30px;
}

.semiBold {
  font-weight: bold;
  font-size: 1rem;
  margin-block-start: 20px;
}

.total {
  font-size: 1.3rem;
  margin-block: 5%;
}

.passed,
.failed,
.taking {
  margin-inline-start: 1%;
}

.passed {
  color: red;
}

.failed {
  color: blue;
}

.taking {
  color: black;
}

.ratio {
  width: 35% !important;
  height: 35% !important;
  margin: auto !important;
}

@media screen and (max-width: 480px) {
  .block,
  .select {
    width: 100% !important;
  }

  .ratio {
    width: 80% !important;
    height: 80% !important;
    margin: auto !important;
  }
}

.syllabusLink {
  font-size: 0.9rem;
  color: blue;
  margin-bottom: 5px;
  padding-inline: 2px;
}
