.title {
  font-size: 1.1rem;
  margin-block-start: 30px;
}

.block {
  width: 50%;
  background-color: #ddd;
  margin: 0 auto;
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.select {
  width: 50%;
  background-color: #ddd;
  margin-inline: auto;
  margin-block: 5%;
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
  margin-block-start: 30px;
}

.total {
  font-size: 1.3rem;
  margin-block: 5%;
}

.passed,
.failed,
.taking {
  margin-inline-start: 1%;
}

.passed {
  color: red;
}

.failed {
  color: blue;
}

.taking {
  color: black;
}

.ratio {
  width: 35% !important;
  height: 35% !important;
  margin: auto !important;
}

@media screen and (max-width: 480px) {
  .block,
  .select {
    width: 100% !important;
  }

  .ratio {
    width: 80% !important;
    height: 80% !important;
    margin: auto !important;
  }
}
