.content {
  width: 50%;
  background-color: #ddd;
  padding-block-start: 10px;
  padding-block-end: 20px;
  margin-block-start: 10%;
  margin-inline: auto;
}

.content div {
  margin-block: 10px;
}

.passed {
  color: red;
  margin-inline-start: 1%;
}

.failed {
  color: blue;
  margin-inline-start: 1%;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
  margin-block-start: 30px;
}

.semiBold {
  font-weight: bold;
  font-size: 1rem;
  margin-block-start: 20px;
}

.taking {
  color: black;
  margin-inline-start: 1%;
}

@media screen and (max-width: 480px) {
  .content {
    width: 100% !important;
  }
}
