body {
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 1%;
}

#grade-csv {
  margin-left: 4%;
}

#usage {
  margin-top: 5%;
}

#result div {
  margin-top: 5%;
  margin-bottom: 4%;
}

#compulsory {
  background-color: #dddddd;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#select {
  background-color: #dddddd;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#sum {
  font-size: 1.5rem;
  margin-top: 10%;
}

#ratio {
  width: 35% !important;
  height: 35% !important;
  margin: auto !important;
}

.warn {
  color: crimson;
}

#footer {
  clear: both;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }

  .menu ul {
    margin-right: 5% !important;
  }

  #usage li {
    padding-right: 5% !important;
  }

  h1 {
    padding-left: 5% !important;
  }

  #result div {
    float: none;
  }
  #sum {
    float: none;
  }
  #ratio {
    width: 80% !important;
    height: 80% !important;
    margin: auto !important;
  }

  #compulsory {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  #select {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  #footer ul {
    margin-right: 6% !important;
  }
}

.contributor {
  display: inline;
}
