body {
  text-align: center;
}

#usage {
  margin-top: 5%;
}

#result div {
  margin-top: 5%;
  margin-bottom: 4%;
}

#compulsory {
  background-color: #dddddd;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#select {
  background-color: #dddddd;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#sum {
  font-size: 1.5rem;
  margin-top: 10%;
}

#footer {
  clear: both;
}

@media screen and (max-width: 480px) {
  #result div {
    float: none;
    margin-left: 7%;
  }
  #sum {
    float: none;
  }
}
