body {
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 1%;
}

#usage {
  margin-top: 5%;
}

#result div {
  margin-top: 5%;
  margin-bottom: 4%;
}

#compulsory {
  background-color: #dddddd;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#select {
  background-color: #dddddd;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#sum {
  font-size: 1.5rem;
  margin-top: 10%;
}

#ratio {
  width: 35% !important;
  height: 35% !important;
  margin: auto !important;
}

#footer {
  clear: both;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 480px) {
  #result div {
    float: none;
    margin: auto;
  }
  #sum {
    float: none;
  }
  #ratio {
    width: 80% !important;
    height: 80% !important;
    margin: auto !important;
  }
}
